/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #E5ECF4;
    color: #A49966;
}

/* Navbar Styles */
header {
    background-color: #605C4E;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    width: 100px; /* Adjust the width of your logo */
    height: auto; /* Keeps the aspect ratio */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: relative;
}

nav ul li a {
    text-decoration: none;
    color: #A49966;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    white-space: nowrap; /* Prevent text from wrapping */
}

nav ul li a:hover {
    background-color: #4A4A48;
    color: #A49966; /* Keep the text color */
}

/* Active Link Styles */
nav ul li a.used {
    background-color: #C7C7A6; /* Matches the background color */
    color: #605C4E; /* Keep the text color */
}

/* Main Content Styles */
main {
    padding: 20px;
}

h1, h2 {
    color: #605C4E;
}

p {
    line-height: 1.6;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav {
        flex-direction: column; /* Stack elements vertically */
    }

    nav ul {
        flex-direction: column; /* Stack list items vertically */
        gap: 10px; /* Adjust spacing between items */
        align-items:center; /* Align items to the left */
    }

    nav ul li a {
        width: 100%; /* Make the links take up full width on smaller screens */
        text-align: left; /* Align the text to the left */
    }
    
    .logo img {
        width: 100px; /* Adjust the width of your logo */
        height: auto; /* Keeps the aspect ratio */
        padding-bottom: 10px;
    }
}

/* Accordion Styles */
.accordion {
    background-color: #A49966; /* Color of accordion header */
    color: white; /* Text color */
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-bottom: 5px;
}

.accordion:hover {
    background-color: #605C4E; /* Walnut Darker on hover */
}

.active, .accordion:after {
    font-weight: bold;
    float: right; /* Position the symbol to the right */
    background-color: #605C4E;
}

.accordion:after {
    font-weight: bold;
}

.panel {
    padding: 0 15px;
    display: none; /* Hidden by default */
    overflow: hidden;
    background-color: #C7C7A6; /* Background color for panel */
    border: 1px solid #565264; /* Border for the panel */
    margin-bottom: 10px; /* Space between panels */
    color: #605C4E; /* Text color */
}

/* Ensure the container of the tableau-viz is responsive */
.tableau-container {
    width: 100%; /* Full width */
    height: 100%; /* Adjust height as needed */
    overflow: hidden; /* Hide overflow */
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .tableau-container {
        height: 400px; /* Adjust height for smaller screens */
    }
}

